$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-phone: 480px;

$primary-color: #336666;
$secondary-color: #282826;
$accent-color: #3d73a2;
