/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';
@import 'base';
@import 'header';
@import 'mainLayout';

.lum-activities-view {
    flex-flow: wrap;
    margin: 0;
    padding: 0;
}

.lum-activities-view li {
    width: 25%;
    height: $grid-item-height;
    box-sizing: border-box;
    list-style: none;
    min-width: 200px;
    padding: 10px;
}
.lum-activity-inner {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: $border-radius-md;
}

.lum-activity-inner.active, .lum-activity-inner:hover {
    background: $overlay-bg-color;
}

.lum-activity-sub-title {
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: $max-title-width;
    color: $text-color-dimmed;
}
.lum-description {
    margin: auto 0;
    font-weight: normal;
    text-align: center;
    line-height: 1rem;
}
.lum-activity-title {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block; 
    max-width: $max-title-width;
    color: rgba(255, 255, 255, 0.8); 
}

.lum-activity img {
    max-width: 70%;
    max-height: 100px;
    margin-top: auto;
}

@media (max-width: $breakpoint-tablet) {
    .lum-activities-view li {
        width: 100%;
        transform: width 0.4s;
        min-width: auto;
    }
}




#lum-activity-log {
    list-style: none;
    margin: 0;
    padding: 0;
}

#lum-sidenav-inner {
    background: $overlay-bg-color;
    border-radius: $border-radius-md;
    min-height: 200px;

    .lum-sidenav-title {
        padding: 1rem;
        font-size: 1.4rem;
        color: white;
        font-weight: normal;
        box-shadow: 0 2px 0 0 rgba(0,0,0,0.2), 0 4px 0 0 rgba(255, 255, 255,0.1);
    }

    .lum-activity-log-item {
        color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.2), 0 2px 0 0 rgba(255, 255, 255,0.1);
    }

    .lum-activity-icons {
        width: 80px;
        position: relative;
        display: inline-block;
  
        .lum-activity-device {
          font-size: 40px;
        }
        .lum-activity-browser {
          font-size: 28px;
          position: absolute;
          right: 5px;
          bottom: 0px;
          color: deeppink;
        }
      }

      .lum-activity-info {
          display: inline-block;

          .lum-activity-date {
              font-size: 0.8rem;
          }

      }
}
